<h1>
  Choose your name
</h1>

<p>
  Blurb that welcomes the player into the game and tells them that they must
  shed their old name and be known by a new name, which they get to choose.
</p>

<%= render 'new_form' %>
