<h2>Dev Mode</h2>

<p>
  <button id="dev-gps-start">
    Start GPS
  </button>
  <button id="dev-gps-stop">
    Stop GPS
  </button>
  <button id="dev-gps-button">
    Get GPS Data
  </button>
</p>

<p style="overflow: auto; height: 3em; width: 90%">
  <span id="dev-gps-data">
  </span>
</p>

