<h2>Dev Mode</h2>

<p>
  <button id="dev-location-on">
    Location On
  </button>
  <button id="dev-location-off">
    Location Off
  </button>
  <button id="dev-location-button">
    Get Location
  </button>
  <button id="dev-store-light-button">
    Light Measurement
  </button>
  <button id="dev-store-ndt-button">
    NDT Measurement
  </button>
  <button id="dev-store-wifi-button">
    WiFi AP Measurement
  </button>
  <button id="dev-upload-button">
    Upload Readings
  </button>
</p>

<p>
  <span id="dev-location-data">
  </span>
</p>

<%= metrics_server_setup_tag %>
