html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav.top-bar, nav.top-bar.expanded {
  width: 100%;
  z-index: 1000;

  &.signed-in {
    background-color: rgba(17, 17, 17, 0.65);
  }
  &.not-signed-in {
    background-color: rgb(0, 0, 0);
  }
}

#contents {
  width: 100%;
  height: 100%;

  @include grid-row($behavior: false);
}
